.Main {
  width: 100vw;
  font-size: 10px;
  overflow:auto;
}

.header{
  height: 100vh;
  display:flex;
  flex-direction: row;
  margin:0px
}

.canvas {
  width: 70vw;
  height: 100vh;
  margin: 0px 0px 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 30px;
}

.userboard{
  width: 30vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MainMessage {
  margin: 10px 0px 0px;
  font-size: 20px;
}

.signupboard{
  width:20vw;
  height:50vh;
  border-radius:4px;
}

.content{
  padding:1.5vw 2vw 0px;
  font-size:15px;
  display: flex;
  flex-direction: column;
}

input{
  margin: 1vw 0px 10px;
  padding:0px 1vw 0px 2vw;
  width: 13vw;
  height: 35px;
  border-radius:4px;
  border:0px;
  text-decoration: none;
  font-size: 15px;
  outline-style: none;
  font-family: "Microsoft soft";
}

input:focus{
  border-color: #f87501;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(245,120,1,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(245,120,1,.6)
}

.submit{
  border:0px;
  margin:10px 0px 5px;
  width: 16vw;
  height: 40px;
  background-color: #60c060;
  color: white;
  border-radius:4px;
  font-family: "Microsoft soft";
  outline:none;
}

.reset{
  border:0px;
  margin:10px 0px 10px;
  width: 16vw;
  height: 40px;
  background-color: #fe6c6c;
  color: white;
  border-radius:4px;
  font-family: "Microsoft soft";
  outline:none;
}

.illustration{
  width:16vw;
  padding:0px 2vw 0px;
  font-size: 12px;
  text-align:left;

}

.footer{
  width: 100vw;
  height: 15vh;
}